:root {
  --primary-color: #17caee;
  --secondary-color: #fcfdfe;
  --background-color: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 80px auto;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "Gugi", cursive;
  color: var(--secondary-color);
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  opacity: 0.95;
}
.main-logo {
  display: block;
  text-align: center;
  max-width: 100%;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  line-height: 1.2;
  margin-top: 20px;
}

.logo {
  max-width: 90%;
  max-height: 90%;
}

footer {
  color: var(--secondary-color);
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.navbar {
  margin-left: 0px;
}
.navbar-custom {
  background-color: var(--background-color);
}
.nav-link {
  color: var(--primary-color);
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-bottom: 20px;
  max-width: 100%;
}
.contact {
  margin-top: 20px;
}

.contact-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.contact-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.linkedIn-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.instagram-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.phone-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.email-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.fa-brands {
  color: var(--primary-color);
}
