:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 80px auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  margin-top: 10px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  line-height: 1.2;
  margin-top: 20px;
}

p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.navbar {
  margin-left: 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.description {
  font-size: 18px;
}

.project-links {
  display: flex;
  margin-top: 0px;
  float: left;
  margin-left: -20px;
}

.project-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.yoga-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.title {
  font-size: 48px;
  text-decoration: solid;
}
.weather-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.yogurt-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.container {
  margin-bottom: 20px;
  max-width: 100%;
}
.contact {
  margin-top: 20px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 68px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 14px;
  }
  .image-main {
    display: none;
  }
  .image-row {
    display: none;
  }
  .text-row {
    text-align: center;
  }
  .link-main {
    text-align: center;
  }
}
