:root {
  --primary-color: #18d4f1;
  --secondary-color: #fcfdfe;
  --background-color: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family-brand: "Gugi", cursive;
}
body {
  margin: 60px auto 25px auto;
  background-color: var(--background-color);
  color: var(--secondary-color);
  width: 100%;
  min-height: calc(100vh - 120px);
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 120px);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: var(--font-family-brand);
}

h1 {
  font-size: 44px;
  margin-top: 10px;
  margin-bottom: 0px;
  opacity: 0.95;
  color: var(--secondary-color);
}
.h1-smaller {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  opacity: 0.95;
  color: var(--secondary-color);
}
h2 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 50px;
  opacity: 0.95;
  color: var(--secondary-color);
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  color: var(--secondary-color);
  opacity: 0.95;
}
.h3-bigger {
  font-size: 36px;
  margin-top: 40px;
  color: var(--secondary-color);
  opacity: 0.95;
}
h4 {
  font-size: 24px;
  margin: 20px 0px;
  color: var(--primary-color);
}
.h4-bigger {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 0px;
  opacity: 0.95;
  color: var(--primary-color);
}
h5 {
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 40px;
  opacity: 0.95;
  color: var(--primary-color);
}
.main-logo {
  display: block;
  text-align: center;
  max-width: 100%;
}
.logo {
  max-width: 90%;
  max-height: 90%;
}

.interaction {
  display: block;
  border: none;
  margin: 10px 280px;
  padding: 10px 10px;
}
footer {
  color: var(--secondary-color);
  text-align: left;
  font-size: 8px;
  opacity: 0.7;
  font-family: var(--font-family-brand);
  margin-left: 10px;
  position: absolute;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.facts-list {
  list-style: none;
  font-size: 16px;
  font-family: var(--font-family-brand);
  color: var(--secondary-color);
  margin-bottom: 5px;
  opacity: 0.95;
  line-height: 1.8;
  margin-left: 20px;
  letter-spacing: 0.1em;
}

.fa-caret-right {
  opacity: 0.95;
}
.coding-skills-bar {
  list-style: none;
  font-size: 16px;
  font-family: var(--font-family-brand);
  color: var(--secondary-color);
  margin-bottom: 5px;
  opacity: 0.95;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.coding-skills-dots {
  list-style: none;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.8;
  text-align: right;
  margin-right: 20px;
}

.courses-list {
  list-style: none;
  font-size: 16px;
  font-family: var(--font-family-brand);
  color: var(--secondary-color);
  margin-bottom: 5px;
  opacity: 0.95;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.technology-list {
  color: var(--secondary-color);
  margin-bottom: 5px;
  opacity: 0.95;
}
.fa-bootstrap {
  color: var(--secondary-color);
  font-size: 76px;
  text-align: right;
  margin-left: 10px;
  margin-top: 20px;
  opacity: 0.8;
}
.flex-fox {
  margin-left: -30px;
  text-align: left;
  opacity: 0.95;
}
.technology-logo {
  opacity: 0.9;
  margin-top: 20px;
}
.java-script-logo {
  display: inline;
  margin-left: -8px;
  margin-top: -10px;
}
.responsive-logo {
  display: inline;
}
.react-logo {
  display: inline;
}
.up-level {
  color: var(--background-color);
  text-align: left;
}
.down-level {
  opacity: 0.5;
  margin-left: -5px;
  text-align: left;
}
.navbar {
  margin-left: 0px;
}
.navbar-custom {
  background-color: var(--background-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23, 202, 238)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: var(--primary-color);
}

.nav-link {
  color: var(--primary-color);
  font-family: var(--font-family-brand);
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.question {
  font-family: var(--font-family-brand);
  overflow: hidden;
  border-right: 0.15em solid var(--primary-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  40% {
    border-color: var(--background-color);
  }
}
.options-links {
  display: flex;
  margin: 10px 10px 10px 10px;
  justify-content: center;
}

.yes-about-link {
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  padding-right: 30px;
  font-size: 28px;
}

.no-about-link {
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-size: 28px;
  padding-left: 30px;
}
.yes-project-link {
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  padding-right: 30px;
  font-size: 28px;
}
.no-project-link {
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-size: 28px;
  padding-left: 30px;
}
.contact-links {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.contact-links a {
  margin: 0px 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  color: var(--primary-color);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
@media (max-width: 576px) {
  h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .main-logo {
    display: block;
    text-align: center;
    max-width: 80%;
    margin-left: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .interaction {
    margin: 10px 45px;
    padding: 5px 5px;
    border: none;
  }
  .options-links {
    margin: 5px 5px 5px 5px;
  }

  .yes-about-link {
    font-size: 28px;
  }

  .no-about-link {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .contact-links {
    font-size: 28px;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  .main-logo {
    display: block;
    text-align: center;
    max-width: 80%;
    margin-left: 20px;
  }
  h4 {
    font-size: 14px;
  }
  .interaction {
    border: none;
    margin: 10px 45px;
    padding: 5px 5px;
  }
  .options-links {
    margin: 5px 5px 5px 5px;
  }

  .yes-about-link {
    font-size: 20px;
  }

  .no-about-link {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .contact-links {
    font-size: 18px;
  }
}

@media (max-width: 391px) {
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-logo {
    display: block;
    text-align: center;
    max-width: 80%;
    margin-left: 20px;
  }
  h4 {
    font-size: 14px;
    margin-top: 20px;
  }
  .interaction {
    border: none;
    margin: 10px 45px;
    padding: 5px 5px;
  }
  .options-links {
    margin: 5px 5px 5px 5px;
  }

  .yes-about-link {
    font-size: 20px;
  }

  .no-about-link {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .contact-links {
    font-size: 18px;
  }
}
