:root {
  --primary-color: #17caee;
  --secondary-color: #fcfdfe;
  --background-color: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 80px auto;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "Gugi", cursive;
  color: var(--secondary-color);
}

h1 {
  font-size: 96px;
  margin-top: 10px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  line-height: 1.2;
  margin-top: 20px;
}
.main-logo {
  display: block;
  text-align: center;
}
p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-color);
}
footer {
  color: var(--secondary-color);
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.navbar {
  margin-left: 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.description {
  font-size: 18px;
}

.container {
  margin-bottom: 20px;
  max-width: 100%;
}
.contact {
  margin-top: 20px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin-button {
  display: inline-block;
  height: 70px;
  margin: 0px 10px 10px 10px;
  vertical-align: top;
  width: 70px;
  text-align: center;
  background-color: #00aaa0;
  border: none;
  border-radius: 18px;
}

.linkedin-button:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(10px);
}

.instagram-button {
  display: inline-block;
  height: 70px;
  margin: 0px 10px 10px 10px;
  vertical-align: top;
  width: 70px;
  text-align: center;
  color: var(--secondary-color);
  border: none;
  border-radius: 18px;
}

.instagram-button:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(10px);
}

.phone-button {
  display: inline-block;
  height: 70px;
  padding: 0;
  margin: 0px 10px 10px 10px;
  vertical-align: top;
  width: 70px;
  color: var(--secondary-color);
  border: none;
  border-radius: 18px;
}

.phone-button:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(10px);
}

.email-button {
  display: inline-block;
  height: 70px;
  padding: 0;
  margin: 0px 10px 10px 10px;
  vertical-align: top;
  width: 70px;
  color: var(--secondary-color);
  border: none;
  border-radius: 18px;
}

.email-button:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(10px);
}

.footer {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
